@media screen and (max-width: 1200px) {
    h1 { font-size: 46px; 
    }
}

@media screen and (max-width: 998px) {
    h1 { font-size: 36px; 
    }
}

@media screen and (max-width: 768px) {
    h1 { font-size: 22px; 
    }
}

@media screen and (max-width: 576px) {
    h1 { font-size: 14px; 
    }
}